/* Code adapted from: https://codesandbox.io/p/sandbox/multi-range-slider-react-js-forked-4uq1uo?file=%2Fsrc%2Fcomponent%2FmultiRangeSlider%2FMultiRangeSlider.js%3A83%2C24 */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 200px;
}

.slider_track,
.slider_range,
.slider_left_value,
.slider_right_value {
  position: absolute;
}

.slider_track,
.slider_range {
  border-radius: 3px;
  height: 5px;
}

.slider_track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider_range {
  background-color: #9fe5e1;
  z-index: 2;
}

.slider_left_value,
.slider_right_value {
  font-size: 12px;
  margin-top: 20px;
}

.slider_left_value {
  left: 6px;
}

.slider_right_value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumb_left {
  z-index: 3;
}

.thumb_right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
